.heading span{
    cursor: pointer;
    font-family: poppins;
    font-size: 1.5rem;
    font-weight: 700;
}
.loginBtn{
    background-color:#0077B5;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: inter;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;

}

.loginBtn:hover {
    background-color: #005582;
}
.signupBtn{
    background-color: #0A66C2;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: inter;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;

}
.signupBtn:hover {
    background-color: #004182;
}
.welcome{
    font-family: poppins;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
}
.logout{
    margin: 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    font-family: poppins;
    transition: all ;
}
.logout:hover{
    color:#0077B5;
    transform: translateY(-2px)
}


@media (max-width:992px) {
     .heading span{
        font-size:1.3rem;
    }
    .welcome{
        font-size:1rem;
    }
    .loginBtn,
    .signupBtn{
        padding:7px 16px;
        font-size:.95rem;
    }
 
}
@media (max-width:768px){
    .welcome{
        display:none;
    }
    .heading span{
        font-size:1.3rem;
    }
    .loginBtn,
    .signupBtn{
        padding:8px 16px;
        font-size:.9rem;
    }
    .logout{
        font-size:.9rem;
    }
    .navActions{
        gap:.8rem !important;
    }
}
@media (max-width:768px){
    .welcome{
        display:none;
    }
    .heading span{
        font-size:1.3rem;
    }
    .loginBtn,
    .signupBtn{
        padding:8px 16px;
        font-size:.9rem;
    }
    .logout{
        font-size:.9rem;
    }
    .navActions{
        gap:.8rem !important;
    }
}